<div class="container avoid-menu">
  <div class="col-lg-12 col-md-12">
    <% @recipes.each do |recipe| %>
      <%= link_to measurement_path(recipe) do %>
        <h5><%= recipe.name %><%= recipe.multiplier_view %></h5>
      <% end %>
    <% end %>
  </div>

  <div class="col-lg-12 col-md-12">
      <br>
    <%= link_to "Grocery List", grocery_lists_path(format: 'csv'), class: "btn btn-lg btn-gray" %>
  </div>
</div>
