


<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1>One Dataset, LLC</h1>
  <br>
  <h3 class="title-underline">Indentity</h3>
    <p>Full stack data visualizations agency that uses thoughtful design, and the power of data to create real-time interfaces that solve complexity and drive change.</p>
  <h3 class="title-underline">Problem</h3>
    <p>Data collection has become a very large economic force over the last ten years.  Data collection and the value behind that data has grown exponentially, and is showing no signs of slowing in the future. Websites, mobile apps, cell phones, GPS, smart watches, and industry-specific sensors are all collecting data in greater and greater amounts. Case in point, the sensor industry alone is expected to grow to <a target="_blank" href="https://www.apnews.com/Business%20Wire/420500e84b754534817c64fa273a7c04">$66 billion a year by 2027</a>. </p>

    <p>With all of this data, there is an ever-growing "comprehension gap" between the data and the human side of the equation. While the rise of the data scientist has been a major step forward in helping organizations make sense of their data, a chasm of understanding remains between the technical data analysts and business professionals / general public.  Data visualization has evolved over the years to address these needs. However, current data visualization solutions tend to be deeply analytical, poorly designed, or built with static data.</p>
  <p></p>
  <h3 class="title-underline">Solution</h3>
  <p>Together, in a highly collaborative process with our clients, we develop unique tools that embrace the economic value and power of real-time data. Our assumption is that data visualization will become an integral part of solving business, environmental, and social issues. We partner with data-centric firms and help them design, build, and maintain effective data visualization products.</p>
  <h3 class="title-underline">Target Market</h3>
    <ul class="bulleted-list">
      <li>Financial Services</li>
      <li>Industrial Farming</li>
      <li>Health Care</li>
      <li>City Infrastructure</li>
      <li>Retail</li>
    </ul>
  <h3 class="title-underline">The Competition</h3>
    <ul class="bulleted-list">
      <li><a target="_blank" href="https://www.cleverfranke.com/">Clever Franke</a></li>
      <li><a target="_blank" href="https://www.pitchinteractive.com/">Pitch Interactive</a></li>
      <li><a target="_blank" href="https://periscopic.com/#!/">Periscopic</a></li>
      <li><a target="_blank" href="https://fathom.info/">Fathom</a></li>
      <li><a target="_blank" href="https://stamen.com/">Stamen Design</a></li>
    </ul>
  <h3 class="title-underline">Revenue Model</h3>
  <p>The revenue model will be priced per project or total hourly rate. </p>
  <h3 class="title-underline">Expenses</h3>
  <p>Initial expenses will be low.  As the company grows, expenes will grow in lock step:</p>
    <ul class="bulleted-list">
      <li>Salaries</li>
      <li>Office Space</li>
      <li>Computers / Software</li>
      <li>Education / Conferences</li>
      <li>Travel</li>
    </ul>
  <h3 class="title-underline">Team and Key Roles</h3>
  <ul class="bulleted-list">
    <li>Owner/Developer/Project Manager</li>
    <li>Designer/Manager</li>
    <li>Developer</li>
    <li>Developer</li>
  </ul>

  <br>
  <br>
  <br>
  <br>
  <br>


</div>
