


<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1>One Dataset, LLC</h1>
  <br>
  <h3 class="title-underline">Indentity</h3>
    <p>Full stack data visualizations agency that uses thoughtful design, and the power of real-time data to create interfaces that solve complexity and drive change.</p>
    <br>
  <h3 class="title-underline">Problem</h3>
    <p>Data collection and the value behind that data has grown exponentially over the last ten years.  Websites, mobile apps, cell phones, GPS, and industry-specific sensors are all collecting data in greater and greater amounts.
       With all of this data collection, there is an ever-growing "comprehension gap" between the humans and the machines. While the rise of the data scientist has been a major step forward in helping organizations make sense of their data, a chasm of
       understanding remains between the [analysts / scientists] and [business professionals / general public].  Data visualization has evolved over the years to address these needs. However, current data visualization solutions tend to be too analytical (boring), poorly designed, or built with static data.</p>
       <br>
  <h3 class="title-underline">Solution</h3>
  <p>Our assumption is that well designed, real-time data interfaces will become an integral part of
    understanding and solving business, environmental, and social issues.Together, in a highly collaborative process with
    our clients, we will develop unique tools that embrace the economic value and power of real-time data.
    Unlike other data visualization firms, we will position ourselves to be a part of the entire data
    process (collection, analysis, design, development, and maintenance). Essentially, data visualization engineers for hire.</p>
    <br>
    <h3 class="title-underline">Strategy</h3>
    <div class="col-md-12 col-sm-12">
      <h4>1) Establish Crediblity</h4>
      <ul class="bulleted-list">
        <li>$10,000 in freelance contracts</li>
        <li>Won 2019 <i>Information is Beautiful</i> Competition</li>
        <li>Won 2019 <i>National Geographic</i> Competition</li>
        <li>Created 12 production worthy visualizations</li>
        <li>Attended weekly Meetup</li>
        <li>Refine Speaking - attended Toastmasters weekly (downtown)</li>
        <li>Hosted monthly Denver Data Visualization Meetup</li>
        <li>Attended Data Visualzation / Developer Conference</li>
        <li>Learned React.js and Vue.js</li>
        <li>Published 1 visualizations</li>
      </ul>

      <h4>2) Build Reputation</h4>
      <ul class="bulleted-list">
        <li>$48,000 in freelance contracts</li>
        <li>Won 2021 <i>Information is Beautiful</i> Competition</li>
        <li>Won 2 International Competitions</li>
        <li>Created 12 production worthy visualizations</li>
        <li>Attended one meetup a week</li>
        <li>Refine Speaking - attended Toastmasters weekly (downtown)</li>
        <li>Hosted monthly Denver Data Visualization Meetup</li>
        <li>Spoke at 2 Conferences</li>
        <li>Published 3 visualizations</li>
      </ul>
      <h4>3) Establish Agency </h4>
      <ul class="bulleted-list">
        <li>$126,000 in contracts</li>
        <li>Found business patner</li>
        <li>Hired 1st employee</li>
        <li>Worked with Foturne 500 company</li>
        <li>Won 2021 <i>Information is Beautiful</i> Competition</li>
        <li>Hosted monthly Denver Data Visualization Meetup</li>
        <li>Spoke at 4 Conferences</li>
        <li>Published 3 visualizations</li>
      </ul>
      <h4>4) Growth</h4>
      <ul class="bulleted-list">
        <li>$300,000 in contracts</li>
        <li>Hired 2 employee</li>
        <li>Establish Full Stack Partnerships</li>
        <li>Won 2021 <i>Information is Beautiful</i> Competition</li>
        <li>Host Denver Data Visualization Meetup</li>
        <li>Speak at 4 Conferences</li>
        <li>Published 4 visualizations</li>
      </ul>
      <h4>4) High End Clients</h4>
      <ul class="bulleted-list">
        <li>$550,000 in contracts</li>
        <li>Hire 4 employee</li>
        <li>Work with Foturne 500 company</li>
        <li>Won 2021 <i>Information is Beautiful</i> Competition</li>
        <li>Host Denver Data Visualization Meetup</li>
        <li>Speak at 4 Conference</li>
      </ul>
    </div>



  <h3 class="title-underline">Target Market</h3>
  <div class="col-md-12 col-sm-12">
    <div class="col-md-4 col-sm-12">
      <h4>Phase I - (Freelance)</h4>
      <ul class="bulleted-list">
        <li>Data Journalism</li>
        <li>Nonprofits</li>
        <li>Tech companies</li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12">
      <h4>Phase II - (Agency)</h4>
      <ul class="bulleted-list">
        <li>Agriculture</li>
        <li>Infrastructure</li>
        <li>Retail</li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12">
        <h4>Phase III - (Agency)</h4>
      <ul class="bulleted-list">
        <li>Financial Services</li>
        <li>Health Care</li>
        <li>Professional Sports</li>

      </ul>
      <br>
    </div>
  </div>
  <h3 class="title-underline">The Competition</h3>
    <ul class="bulleted-list">
      <li><a target="_blank" href="https://www.cleverfranke.com/">Clever Franke</a></li>
      <li><a target="_blank" href="https://www.pitchinteractive.com/">Pitch Interactive</a></li>
      <li><a target="_blank" href="https://periscopic.com/#!/">Periscopic</a></li>
      <li><a target="_blank" href="https://fathom.info/">Fathom</a></li>
      <li><a target="_blank" href="https://stamen.com/">Stamen Design</a></li>
    </ul>
  <h3 class="title-underline">Revenue Model</h3>
  <p>The revenue model will be priced per project or total hourly rate. </p>
  <h3 class="title-underline">Expenses</h3>
  <p>Initial expenses will be low.  As the company grows, expenes will grow in lock step:</p>
    <ul class="bulleted-list">
      <li>Salaries</li>
      <li>Office Space</li>
      <li>Computers / Software</li>
      <li>Education / Conferences</li>
      <li>Travel</li>
    </ul>
  <h3 class="title-underline">Team and Key Roles</h3>
  <ul class="bulleted-list">
    <li>Owner / Developer / Project Manager</li>
    <li>Designer / Project Manager</li>
    <li>Developer</li>
    <li>Developer</li>
    Case in point, the sensor industry alone is expected to grow to <a target="_blank" href="https://www.apnews.com/Business%20Wire/420500e84b754534817c64fa273a7c04">$66 billion a year by 2027</a>
  </ul>

  <h3 class="title-underline">Our Process</h3>
    <ul class="bulleted-list">
      <li>Stragety</li>
      <li>Data Analysis</li>
      <li>Rapid Prototyping</li>
      <li>Review / Testing</li>
      <li>Launch</li>
      <li>Iterate</li>
      <li>Maintain</li>
    </ul>

  <br>
  <br>
  <br>
  <br>
  <br>


</div>
