<div class="section-big">
  <div class="container">
    <h1><%= @sprint.sprint_date %></h1>
    <br>

     <br>
      <%= link_to "Edit Sprint", edit_sprint_path, class: 'btn btn-primary' %>
  </div>
</div>
