<!-- Preloader-->
<%#= render partial: 'preloader' %>
<!-- Preloader end-->

<!-- Wrapper-->
<div class="wrapper">

  <section class="parallax text-left" id="ski-resorts">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="h1 m-b-15 wow fadeInUp" data-wow-delay="0.5s"">Ski Resorts</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="module us-map" id="us-map">
    <div class="container">
      <div class="d3-chart labels center-block">
        <h3 class="label-indent">US Map</h3>
        <div id="us-map"></div>
        <script src="//d3js.org/topojson.v1.min.js"></script>
      </div>
    </div>
  </section>

  <section class="module co-chord" id="co-chord">
    <div class="container">
      <div class="d3-chart labels center-block">
        <h3 class="label-indent">Colorado Resorts</h3>
        <div id="co-chord-diagram"></div>
      </div>
    </div>
  </section>

<!-- <section>
  <div id="ski-map-top" class="col-md-12 col-sm-12 col-xs-12">
    <div class=row>
      <div class="d3-chart labels center-block">
        <h3 class="label-indent">US Map</h3>
        <div id="us-map"></div>
        <script src="//d3js.org/topojson.v1.min.js"></script>
      </div>
    </div>
    </div>
  </section>
</div> -->
