<div class="section-big">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12>

      <div class="ibox-content">
        <%= render 'notices' %>
        <div class="center_div">
          <div class="row">
            <h3 class="table-labels"><% @tag.name %></h3>

          </div>
          <div class="row-table ">
            <div class="table-responsive">
              <table id="participant-table" class="table table-striped table-bordered" style="width:100%">
                <thead class="thead-light">
                <tr>
                  <th data-sortable="true"> Email</th>
                  <th data-sortable="true"> Fisrt Name</th>
                  <th data-sortable="true"> Last Name</th>
                </tr>
              </thead>
              <tbody>
                <% @tag.participants.each do |tag| %>
                  <tr>
                    <td>
                      <%= tag.email %>
                    </td>
                    <td>
                      <%= tag.first_name %>
                    </td>
                    <td>
                      <%= tag.last_name %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
