<div id="wrapper">

    <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="page-scroll" href="#main">
          Eric Wiseman, LLC
        </a>
      </li>
      <!-- <li>
        <a href="#">Cover</a>
      </li> -->
      <li><a class="page-scroll" href="#overview">Overview & Goals</a></li>
      <li><a class="page-scroll" href="#scope">Scope of Services</a></li>
      <li><a class="page-scroll" href="#approach">Approach</a></li>
      <li><a class="page-scroll" href="#budget">Budget & Timeline</a></li>
      <li><a class="page-scroll" href="#why">Endorsements</a></li>
      <li><a class="page-scroll" href="#contact-us">Contact</a></li>
      </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper wow fadeInUp">
    <div class="container-fluid">
      <a href="#menu-toggle" class="pull-right glyphicon glyphicon-align-justify"  id="menu-toggle"></a>

      <div class="main software" id="main"><!-- Main Section-->
        <div class="hero-section proposal">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="hero-content proposal text-center">
                <h1 class="wow fadeInDown" data-wow-delay="0.1s">The Granger Network</h1>
                <p class="wow fadeInDown" data-wow-delay="0.2s">
                Custom software to simplify and automate <u>your</u> unique workflow.
                  <br class="hidden-xs">
                </p>
                <span class="btn btn-primary btn-action popup wow fadeInDown btn-proposal" data-wow-delay="0.2s" href="#">Proposal</span>
              </div>

              <div class="col-md-10 col-md-offset-1 wow fadeInDown">
                <img class="img-responsive dashbaord-img nopadding" data-wow-delay="0.2s"<%#= image_tag('theme/dashboard.png') %>
              </div>
              </div>
          </div>
        </div>
      </div>

      <!-- <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h1>Simple Sidebar</h1>
              <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
              <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
          </div>
        </div>
      </div> -->

      <div class="slide overview" id="overview">
        <div class="hero-content proposal wow fadeInDown">
          <div class="row ">
            <div class="col-md-10 col-md-offset-1">
              <h1>Overiew & Goals</h1>
              <p>First, I want to thank you for including me in the planning and creation of The Granger Network's infrastructure and operations.
                After deliberating with you and your team, I can see several ways we could use technology to help your company move forward with greater
                efficiency and productivity.

                <h5><u>Current Challenges</u></h5>
                  <p>The Granger Network, up to this point, has been effective at creating systems that improve the company's efficiency. However, these
                     systems are limited in their reliability and scale.  This is especially problematic in a high growth company with a remote
                     team such as yours. The current systems keep information in disparate silos that are managed by individuals, not the team.  Per the last company meeting,
                     here are some of the words used to describe the current solutions:
                  </p>
                  <li class="proposal-li">Confusion</li>
                  <li class="proposal-li">Anxiety</li>
                  <li class="proposal-li">Struggle</li>
                  <li class="proposal-li">Guilt</li>
                  <li class="proposal-li">Stress</li>
                  <br>
                <h5><u>Goals</u></h5>
                <p>
                  In alignment with The Granger Network's 2020 vision, I believe the most effective solution is to create a custom software application that
                    is tailored to the current workflow of the coaches, administration, and management.  This custom software
                    would act as the Hub for all client data, allowing everyone in your organization to view, create, and edit data, in one centralized database.
                    The results would allow The Granger Network to make data-driven decisions and reduce the time, energy, and effort needed to manage client relationships, milestones, and financials.
                    The ultimate goal of this software is to get The Granger Network to "run like a well-oiled machine."  We will measure the success of the software if the sentiment transforms to:
              </p>

                <li class="proposal-li">Ease</li>
                <li class="proposal-li">Clarity</li>
                <li class="proposal-li">Confidence</li>
                <li class="proposal-li">Happiness</li>
                <br>
                <br>


                <!-- <div class="col-md-12 wow fadeInDown" align="center">
                  <img class="img-responsive dashbaord-img nopadding" data-wow-delay="0.2s"<%#= image_tag('theme/before-process_two.png') %>
                </div> -->
              </div>
            </div>
          </div>
        </div>

      <div class="slide scope" id="scope"><!-- Main Section-->
        <div class="hero-content proposal wow fadeInDown">
          <div class="row ">
            <div class="col-md-10 col-md-offset-1">
            <h1>Scope of Services</h1>
              <p>Below is a breakdown of the initial services for each respective user group within The Granger Network.  These features are subject to change.</p>

            <h5><u>Coaches</u></h5>
              <li class="proposal-li"><b>User Login</b> - password protected and encrypted.</li>
              <li class="proposal-li"><b>Prospect/Client Form</b> - coach can input and edit information about their client or prospect.</li>
              <li class="proposal-li"><b>Contract Form</b>  - coach can input and edit contract details (dates, measures, financials, schedules, etc.)</li>
              <li class="proposal-li"><b>Individual Client Page</b> - each client will have a dedicated page that will show all relevant information about that client and their contracts.</li>
              <li class="proposal-li"><b>Client Notes Section</b>  - within the "Client Page," there will be a notes section, where the coach can keep a log of important information or updates about the client.</li>
              <li class="proposal-li"><b>Dashboard (Coach Specific)</b> - summarizes the coaches' respective clients and prospects.</li>
              <li class="proposal-li"><b>Dashboard (All Clients)</b> - summarizes all Granger Network clients and prospects.</li>

            <br>
            <h5><u>Admin </u></h5>
              <li class="proposal-li"><b>User Login</b> - password protected and encrypted.</li>
              <li class="proposal-li"><b>Prospect/Client Form</b> - Admin can input and edit information about clients or prospects.</li>
              <li class="proposal-li"><b>Contract Form</b> - Admin can input and edit contract details (dates, measures, financials, schedules, etc.)</li>
              <li class="proposal-li"><b>Individual Client Page</b> - Admin will have access to all client pages and contracts.</li>
              <li class="proposal-li"><b>Client Notes Section</b> - Admin will have the ability to add notes to a client page.</li>
              <li class="proposal-li"><b>Dashboard (Measures)</b> - summarizes all the upcoming contract measures that need to be met.</li>
              <li class="proposal-li"><b>Dashbaord (All Clients)</b> - summarizes all Granger Network clients and prospects (can be filtered by coach)</li>

              <br>
              <h5><u>Management</u></h5>
              <li class="proposal-li"><b>User Login</b> - password protected and encrypted.</li>
              <li class="proposal-li"><b>Prospect/Client Form</b> - Management can input and edit information about clients or prospects.</li>
              <li class="proposal-li"><b>Contract Form</b> - Management can input and edit contract details (dates, measures, financials, schedules, etc)</li>
              <li class="proposal-li"><b>Individual Client Page</b> - Management will have access to all client pages and contracts.</li>
              <li class="proposal-li"><b>Client Notes Section</b> - Management will have the ability to add notes to a client page.</li>
              <li class="proposal-li"><b>Dashboard (All Clients)</b> - summarizes all Granger Network clients and prospects (can be filtered by coach)</li>
              <li class="proposal-li"><b>Dashboard (Measures)</b> - summarizes all the upcoming contract measures that need to be met.</li>
              <li class="proposal-li"><b>Dashboard (Prospect Financials)</b> - summarizes the prospective income base on probablity of closing.</li>
              <li class="proposal-li"><b>Dashboard (Revenue Projections)</b> - summarizes all of The Granger Network's remaining contract revenue for next 12 months.</li>
              <br>
              <h5><u>Features</u></h5>
              <li class="proposal-li"><b>Responsive Design</b> - will work on any device.</li>
              <li class="proposal-li"><b>Data Governance</b> - each respective user group only sees their relevant data.</li>
              <li class="proposal-li"><b>Full Testing Suite</b> - a built-in testing suite that will ensure programs are running bug-free.</li>
              <li class="proposal-li"><b>Monthly Maintenance</b> - 2 hours of monthly maintenance.</li>
              <li class="proposal-li"><b>Automatic Database Backups</b> - daily backups of database.</li>
              <li class="proposal-li"><b>Hosting</b></li>

              <div class="col-md-10 wow fadeInDown" align="center">
                <img class="img-responsive dashbaord-img nopadding" data-wow-delay="0.6s"<%#= image_tag('theme/layout-three.png') %>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide approach" id="approach">
      <div class="hero-content proposal wow fadeInDown">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>Approach</h1>
            <p>
              The modern approach to software development is built around the Agile methodology. The Agile process focuses on building features in small, tested, increments. This allows users to guide the flow of the development process and focus on features that provide the most value. This reduces the development timeline and thus reduces costs and financial risk to you.
              <br>
              <br>

              The "users" in this case would be the coaches, managers, and the administrative staff of The Granger Network. Taking these primary users into account, we determine the list of features that would achieve the greatest results for each respective group. We then prioritize that list to determine the order in which we will build the software.
              <br>
              <br>

              The development process is done in <span class="label-i">sprints</span> that last from 2-4 weeks. Each <span class="label-i">sprint</span> is followed by 1-2 weeks of user testing. At the end of each test, we reprioritize the list for the next <span class="label-i">sprint</span>. We will continue in this manner until budget caps are met or until the software is complete.

            </p>
            <br>
            <div class="col-md-10 wow fadeInDown" align="center">
              <img class="img-responsive dashbaord-img nopadding" data-wow-delay="0.6s"<%#= image_tag('theme/agile.png') %>
            </div>
          </div>
        </div>
      </div>


     <div class="slide budget" id="budget">
       <div class="hero-content proposal wow fadeInDown">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
            <h1>Budget & Timeline</h1>
            <div class="ibox-title">


              <div class="center_div">
                <div class="row-table ">
                  <table class="table table-sm table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Timeline</th>
                        <th scope="col">Cost</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Sprint #1</td>
                        <td>3-4 weeks</td>
                        <td>($4,875 - $6,500)</td>

                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>1-2 weeks</td>
                        <td>$65/hr</td>

                      </tr>
                      <tr>
                        <td>Sprint #2</td>
                        <td>2-4 weeks</td>
                        <td>($3,250 - $6,500)</td>

                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>1-2 weeks</td>
                        <td>$65/hr</td>

                      </tr>
                      <tr>
                        <td>Sprint #3</td>
                        <td>2-4 weeks</td>
                        <td>($3,250 - $6,500)</td>

                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>1-2 weeks</td>
                        <td>$65/hr</td>

                      </tr>
                      <tr>
                        <td><b>Totals</b></td>
                        <td><b>10-18 weeks</b></td>
                        <td><b>($16,250 - $19,500)</b></td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
              <p>Monthly Maintenance: ~ $100/mon.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide why" id="why">
        <div class="hero-content proposal wow fadeInDown">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1>Endorsements</h1>
              <br>
              <div class="endorsements">"Eric’s level of professionalism, integrity and solid work ethic is over the top. He has an eye for simple design like no one I have worked with. He just gets it. He has been able to take a complex, dysfunctional process in the mortgage industry and turn it into a beautiful, well thought out and consumer friendly software product that has changed our business. <br><br>The mortgage industry is rapidly changing and Eric consistently was able to produce quality work while at the same time consistently delivering on time if not early. The best thing about Eric’s work is it’s consistent reliability. There is nothing worse than a software solution that consistently produces problems requiring a team to fix. I knew if Eric worked on the project, it was going to work and work every single time. The cost savings to my company for this level of quality is tremendous."</div>
              <br>
              <p>Michael Delzer - President of First Class Financial Services</p>
              <br>
              <br>

              <div class="endorsements">"Eric’s rare mix of experience with a career in finance and as a developer has made him instrumental in conceiving, developing, and supporting the software that has transformed how FCFS runs its business.  I've been extremely impressed by Eric and would be happy to recommend him to any team I’ve worked on."</div>
              <br>
                <p>Eliot Sykes - Senior Software Developer & Coach at Jet Boot Labs</p>

            </div>
          </div>
        </div>
      </div>

      <div class="slide contact-us" id="contact-us"><!-- Main Section-->
        <div class="hero-content proposal wow fadeInDown">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
              <h1>Contact</h1>
              <p>If you have any questions, concerns or feedback. Please do not hesitate to reach out.
              <br>
              <br>
              Thank you!
              <br>
                <br>
              Eric Wiseman<br>
              ewiseman1@gmail.com<br>
              303-909-6990</p>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- /#page-content-wrapper -->
