
.glyphicon-align-justify {
	color: #2f4050;
	font-size: 25px;
	margin-top: 18px;
	margin-right: 0px;
	text-decoration: none;

}

.glyphicon-align-justify:hover {
	text-decoration: none;
}

.glyphicon-align-justify:visited {
	text-decoration: none;
}



.glyphicon-search {
	color: #FFF;
	font-size: 25px;
	margin-top: 18px;
}

.glyphicon-ok {
	color: #FFF;
	font-size: 25px;
	margin-top: 16px;
}

.glyphicon-link {
	color: #FFF;
	font-size: 25px;
	margin-top: 18px;
	margin-left: -2px;
}

.dashboard-img {
	margin-top: -50px;
}

.dashboard-img-small {
	margin-top: 50px;
}
