.axis .domain {

}

.axis--x text {
    fill: #999;
}

.axis--x line {
    stroke: #000;
}

.axis--activity .tick line {
  display: none;
}

.axis--activity text {
    font-size: 20px;
    font-weight: 20px;
    fill: #777;
}

.line {
    fill: none;
    stroke: #fff;
}

.joy-area {
  fill: url(#area-gradient);
    stroke-width: 0px;
}
