
.titles {
  line-height: 1.25;
  padding-top: 200px;
  font-weight: 300;
}


.container-for-me div {
  height: 100vh;
  padding: 100px 45px;
}

.fixed {
  margin-top: -230px;
  height: 1000px;
  width: 200%;
}
