.task-card {
  padding: 5px;
  margin: 3px;
  text-align: center;

}

.task-form {
  margin-bottom: 25px;
}

.task-card.health {
  background-color: #6DCEED;
  border: 1px solid #6DCEED;
}

.task-card.personal {
  background-color: #F9DF91;
  border: 1px solid #F9DF91;
}

.task-card.work {
  background-color: #F3946F;
  border: 1px solid #F3946F;
}

.task-card.vacation {
  background-color: #E6F6FC;
  border: 1px solid #E6F6FC;
}

.chat {
  margin-top: 10px;
}

.invisible {
  visibility: hidden;
}



.to-do-list {
    color: #333;
}

.to-do-list:hover,
.style:focus {
    color: darkred;
}

.chat.today {
  margin-top:72px;
}
