<button type="button" class="hamburger is-closed" onclick="openNav()">
   <span class="hamb-top"></span>
   <span class="hamb-middle"></span>
   <span class="hamb-bottom"></span>
 </button>
<div id="mySidenav" class="sidenav">
  <center class="text-white">
    <input type="radio" name="area" id="area_Cardinal" value="cardinal" checked="checked"> Cardinal
    <br>
    <br>
    <input type="radio" name="area" id="area_Basis" value="basis"> Basis
    <br>
    <br>
    <input type="radio" name="area" id="area_Monotone" value="monotone"> Monotone
    <br>
    <br>
    <input type="radio" name="area" id="area_Linear" value="linear"> Linear
    <br>
    <br>
    <input type="radio" name="area" id="area_Step" value="step"> Step

    <br>
    <br>
    <br>
    # of Countries
    <input id="rank-filter-area" type="range" min="1" max="180" value="3" onChangeclass="disabled">
    <br>
    <br>
    <input type="radio" name="line" id="traditional_area" checked="checked"> Area
    <br>
    <br>
    <input type="radio" name="line" id="line_area"> Line
    <br>
    <br>
    <input type="radio" name="line" id="dynamic_area"> Dynamic Line
    <br>
    <br>
    <br>
    <br>
    <br>
    <input type="checkbox" id="darkBackgroundArea"> Dark Background
    <br>
    <br>
  </center>
</div>

<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12 ">
    <div class="row">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="section-box-big gdp center-block">
       <h3 class="label-indent basic-line-title" id="area-label-id">Global GDP % Change (1960-2016)</h3>

        <div class="center-block" id="gdp-area-tool"></div>
      </div>
    </div>
  </div>
</div>
