<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="center-block" id="scrum-area"></div>
    </div>
  </div>
</div>
