<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="center-block" id="scrum-area-v3"></div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <br>
      <br>
      <br>

      <div class="row">
        <div class="center-block" id="vertical-stream"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="center-block" id="scrum-area"></div>
    </div>
  </div>

  


  <div class="col-md-12 col-sm-12 col-xs-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div id="container"></div>
      <div id="tooltip"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>





</div>
