<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    <div class="row">
      <div class="img-responsive section-box-big introduction center-block">
      <div class="center-block" id="radial-area"></div>
    </div>
  </div>
</div>

<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    <div class="row">
      <div class="img-responsive section-box-big introduction center-block">
      <div class="center-block" id="radial-area-test"></div>
    </div>
  </div>
</div>
