<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
       <div class="affix">
           <svg class="fixed" id="sticky-notes"></svg>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 container-for-me">
      <div id="random">
        <h2>On <strong>July 27, 2017</strong> there were <strong>20</strong> people attending the Data Visualization meetup.</h2>
      </div>
      <div id="div2">
        <h2>Out of those <strong>20</strong> there were <strong>12</strong> people who attended.</h2>
        <p></p>
      </div>
      <div id="div4">
        <h2><strong>5</strong> out of <strong>12</strong> people had iphones. The other <strong>7</strong> had android devices</h2>
      </div>
      <div id="div6">
        <h2>Out of those <strong>12</strong> attendees only <strong>3</strong> people were San Diego natives. <br><br>The age group for the attendees ranged between 25 and 65.</h2>
      </div>
    </div>
  </div>
</div>
