<!DOCTYPE html>
<html>
  <head>
    <title>Eric Wiseman</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lora|Montserrat:400,500,600,700|Open+Sans:400,400i,700" rel="stylesheet">
  </head>

  <header class="header header-center">
    <div class="container-fluid">

      <div class="inner-navigation collapse">
        <div class="inner-nav onepage-nav">
          <ul>
            <li><a href="#home"><span class="menu-item-span">Home</span></a></li>
            <li><a href="#profile"><span class="menu-item-span">Profile</span></a></li>
            <li><a href="#portfolio"><span class="menu-item-span">Work</span></a></li>
            <li><a href="#resume"><span class="menu-item-span">Resume</span></a></li>
            <li><a href="#blog"><span class="menu-item-span">Blog</span></a></li>
            <li><a href="#contact"><span class="menu-item-span">Connect</span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </header>

  <body>
    <%= yield %>

  </body>
</html>
